__pycache__
*.pyc
*.pyo
*.log
*.aux
*.pdf
venv/
.DS_Store
.cursor/

ir_labs.md

data/*.json
data/*.bin
analysis/*.png
analysis/*.txt
analysis/corpus_stats.json

corpus_*.json
corpus_*.json.gz

# Бинарные файлы C++
engine/indexer
engine/searcher
engine/*.o
engine/tests/test_*
!engine/tests/*.cpp
!engine/tests/*.sh

logs/*